<li class="wrapper">
  <div class="principal-list">
    <h2>{{ person.name }}</h2>
    <h2>{{ person.age }} anos</h2>
    <ul class="button-list">
      <li>
        <button>Adicionar nova transação</button>
      </li>
      <li>
        <button [routerLink]="['/edit']" [queryParams]="{id:person.id,name:person.name,age:person.age}" >Editar Pessoa</button>
      </li>
      <li>
        <button (click)="deletePerson()">Excluir Pessoa</button>
      </li>
    </ul>
  </div>
  <ul class="list-transactions">
    <h1>Transações</h1>
    <div class="subtitle">
      <h1>Value</h1>
      <h1>Type</h1>
      <h1>Description</h1>
    </div>
    @for (item of person.transactions; track $index) {
    <div class="transactions">
      <div>
        <h2>{{ item.value }}</h2>
        <h2>{{ item.type }}</h2>
        <h2>{{ item.description }}</h2>
      </div>
    </div>
    }
  </ul>
</li>
